doctype html
html
  head
    title NFT
    link(rel="stylesheet", href="css/style.min.css")
    meta(name="viewport", content="width=device-width,initial-scale=1")
  body
    include content.pug
    script(src="js/main.min.js")
  
